[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.3"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
whitenoise = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
